.App {
  background: linear-gradient(to bottom, #ffecdb, #ffab91);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* 컴포넌트가 화면 위에서부터 시작하도록 */
  align-items: center;
  padding: 3rem;
  padding-top: calc(3rem + 4rem);
  margin: 0;
}

.section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
